* {
  margin: 0px;
  padding: 0px;
}
.box {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  margin: 10px;
}
#box1 {
  position: static;
}
#box2 {
  position: fixed;
  background-color: green;
  top: 20px;
  z-index: -1;
  left: 20px;
}
#box3 {
  background-color: red;
  position: absolute;
  top: 10px;
  left: 40px;
}

#parent {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: yellow;
}
#child {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 100px;
  height: 100px;
  background-color: rgb(15, 15, 12);
}
/* * { */
/* margin: 0px;
  padding: 0px; */
/* font-size: 50px; */
/* } */
/* .box {
  width: 50vw;
  height: 80vh;
  background-color: darkcyan; */
/* font-size: 30px; */
/* } */
/* #child {
  background-color: blue;
  width: 50%;
  height: 40%;
  font-size: 2rem;
} */
/* #box1 {
  background-color: rgb(80, 80, 242);
  /* visibility: hidden; */
/* display: none; */

/* #box2 {
  background-color: rgb(169, 242, 80);
} */
